<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div id="app">
        <input type="text" :value="message" readonly>
        <input v-bind="text2">
        <p>{{message}}</p>
        <ol>
            <li v-for="item in list">{{item}}</li>
        </ol>
        <button v-on:click="addItemClick">Add item</button>
        <button v-on:click="switchItemClick(0)">Switch top item</button>
        <transition>
            <p v-if="show">`show` がtrueの場合のみ表示</p>
            <p v-if="!show">`show` がfalseの場合のみ表示</p>
        </transition>
        <button v-on:click="show=!show">Display change</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="./main.js"></script>
    <script src="./main.css"></script>
</body>
</html>